# Import

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from sqlalchemy import create_engine
import pandas as pd
import json
from collections import defaultdict
import matplotlib.pyplot as plt
import datetime

In [3]:
import matplotlib as mpl
mpl.rcParams['pdf.fonttype'] = 42
mpl.style.use('fivethirtyeight')

# Calculate Status for all the patients that has responses

### Query data

In [17]:
df_patient_response = pd.read_csv('../../data/patient_response.csv')
df_patient = pd.read_csv('../../data/patient_detail.csv')
df_tmetryentry = pd.read_csv('../../data/tmetryentry.csv')

### How each dataframe looks like

In [18]:
#Information for all of the entries
df_tmetryentry.head()

,id,session_id,date,object,action,strValue,unit_id,user_detail_id,intValue,just_date
28620,29918,2139699710,2017-05-15 13:07:14.407210,1,201,nm177724,3.0,67,NaN,2017-05-15
28621,29919,2139699710,2017-05-15 13:07:14.536299,1,203,nm177724,3.0,67,NaN,2017-05-15
28622,29920,2139699710,2017-05-15 13:07:14.536680,2,204,nm177724,3.0,67,NaN,2017-05-15
28623,29921,2139699710,2017-05-15 13:07:14.567145,2,301,nm177724,3.0,67,NaN,2017-05-15
28624,29922,2139699710,2017-05-15 13:07:14.567565,3,302,nm177724,3.0,67,NaN,2017-05-15

In [40]:
df_tmetryentry[df_tmetryentry.strValue == '098d477fde14ee3ee30c9f363d5ac06f85c3ca51']

,id,session_id,date,object,action,strValue,unit_id,user_detail_id,intValue,just_date
28643,29941,2139699710,2017-05-15 13:09:37.229240,6,602,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,3.0,67,NaN,2017-05-15
28680,29978,2139699710,2017-05-15 13:12:51.209708,6,602,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,3.0,67,NaN,2017-05-15
28690,29988,2139699710,2017-05-15 13:16:12.955344,6,602,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,3.0,67,NaN,2017-05-15
28775,30073,3547602005,2017-05-15 13:20:51.575758,6,602,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,3.0,67,NaN,2017-05-15
29154,30452,172184393,2017-05-15 14:33:32.844021,6,602,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,3.0,67,NaN,2017-05-15
29389,30687,334320999,2017-05-16 14:47:00.542595,6,602,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,3.0,67,NaN,2017-05-16
251968,253266,3860602040,2017-05-17 14:46:13.181498,6,602,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,3.0,67,NaN,2017-05-17

In [39]:
#information on the answers
df_patient_response[df_patient_response.patient_id.isin([120])]

,id,checklist_id,question_id,workday,response,date,patient_id,unit_id,user_detail_id,hash_fin,just_date
1741,1783,2,$0401,2017-05-31,A,2017-05-31 14:42:59.749305,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-31
1742,1784,2,$0402,2017-05-31,Y,2017-05-31 14:43:00.902044,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-31
1743,1785,2,$0501,2017-05-31,N,2017-05-31 14:43:02.948959,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-31
1744,1786,2,$0701,2017-05-31,N,2017-05-31 14:43:06.083190,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-31
1745,1787,2,$0702,2017-05-31,Y,2017-05-31 14:43:07.549812,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-31
1746,1788,2,$0703,2017-05-31,N,2017-05-31 14:43:08.783249,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-31
1747,1789,2,$0801,2017-05-31,Y,2017-05-31 14:43:11.433846,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-31
1748,1790,2,$0301,2017-05-31,N,2017-05-31 14:43:39.367822,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-31
1846,1888,2,$0801,2017-06-01,Y,2017-06-01 14:32:14.329502,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
1847,1889,2,$0401,2017-06-01,N,2017-06-01 14:35:19.665822,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
1848,1890,2,$0402,2017-06-01,N,2017-06-01 14:35:22.820220,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
1849,1891,2,$0703,2017-06-01,Y,2017-06-01 14:33:46.624969,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
1850,1892,2,$0701,2017-06-01,Y,2017-06-01 14:41:49.757089,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
1851,1893,2,$0601,2017-06-01,N,2017-06-01 14:34:37.471368,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
1852,1894,2,$0702,2017-06-01,Y,2017-06-01 14:34:44.927201,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
1853,1895,2,$0301,2017-06-01,N,2017-06-01 14:35:10.654069,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
1854,1896,2,$0501,2017-06-01,N,2017-06-01 14:35:26.087657,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
1855,1897,2,$0101,2017-06-01,Y,2017-06-01 14:35:36.695899,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
1856,1898,2,$0201,2017-06-01,Y,2017-06-01 14:35:41.955819,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
1857,1899,2,$0202,2017-06-01,N,2017-06-01 14:35:44.385644,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
1858,1900,2,$0205,2017-06-01,N,2017-06-01 14:35:47.374550,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
1955,1997,2,$0101,2017-06-02,Y,2017-06-02 14:36:52.877676,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
1956,1998,2,$0201,2017-06-02,Y,2017-06-02 14:36:54.171151,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
1957,1999,2,$0202,2017-06-02,N,2017-06-02 14:37:07.928818,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
1958,2000,2,$0205,2017-06-02,N,2017-06-02 14:37:10.041283,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
1959,2001,2,$0801,2017-06-02,Y,2017-06-02 14:37:28.058718,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
1960,2002,2,$0701,2017-06-02,Y,2017-06-02 14:37:31.263296,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
1961,2003,2,$0703,2017-06-02,Y,2017-06-02 14:37:32.011356,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
1962,2004,2,$0601,2017-06-02,N,2017-06-02 14:38:03.475432,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
1963,2005,2,$0301,2017-06-02,N,2017-06-02 14:38:29.623566,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
...,...,...,...,...,...,...,...,...,...,...,...
2484,2526,2,$0701,2017-06-07,Y,2017-06-07 15:16:58.804655,120,4,67,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-07
2485,2527,2,$0703,2017-06-07,Y,2017-06-07 15:17:03.948434,120,4,67,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-07
2486,2528,2,$0301,2017-06-07,N,2017-06-07 15:17:07.488976,120,4,67,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-07
2487,2529,2,$0401,2017-06-07,N,2017-06-07 15:17:09.320114,120,4,67,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-07
2488,2530,2,$0402,2017-06-07,N,2017-06-07 15:17:10.840910,120,4,67,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-07
2489,2531,2,$0601,2017-06-07,Y,2017-06-07 15:17:15.484256,120,4,67,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-07
2490,2532,2,$0501,2017-06-07,A,2017-06-07 15:20:58.217153,120,4,67,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-07
2518,2560,2,$0101,2017-06-08,Y,2017-06-08 14:00:00.621271,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
2519,2561,2,$0201,2017-06-08,Y,2017-06-08 14:00:02.881433,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
2520,2562,2,$0202,2017-06-08,Y,2017-06-08 14:00:05.422784,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
2521,2563,2,$0801,2017-06-08,Y,2017-06-08 14:00:08.174129,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
2522,2564,2,$0301,2017-06-08,N,2017-06-08 14:00:33.156598,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
2523,2565,2,$0401,2017-06-08,N,2017-06-08 14:00:42.203120,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
2524,2566,2,$0402,2017-06-08,N,2017-06-08 14:00:43.128418,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
2525,2567,2,$0501,2017-06-08,Y,2017-06-08 14:00:51.437485,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
2526,2568,2,$0701,2017-06-08,Y,2017-06-08 14:00:55.306646,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
2527,2569,2,$0703,2017-06-08,Y,2017-06-08 14:00:56.330422,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
2528,2570,2,$0601,2017-06-08,Y,2017-06-08 14:01:11.756108,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
2677,2719,2,$0101,2017-06-09,Y,2017-06-09 13:55:34.485508,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
2678,2720,2,$0201,2017-06-09,N,2017-06-09 13:55:36.986688,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
2679,2721,2,$0203,2017-06-09,Y,2017-06-09 13:55:39.105835,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
2680,2722,2,$0204,2017-06-09,Y,2017-06-09 13:55:41.756820,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
2681,2723,2,$0601,2017-06-09,N,2017-06-09 13:55:44.369705,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
2682,2724,2,$0301,2017-06-09,N,2017-06-09 13:55:55.216476,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
2683,2725,2,$0401,2017-06-09,N,2017-06-09 13:55:59.141020,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
2684,2726,2,$0402,2017-06-09,N,2017-06-09 13:56:00.147126,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
2685,2727,2,$0501,2017-06-09,Y,2017-06-09 13:56:03.007290,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
2686,2728,2,$0701,2017-06-09,Y,2017-06-09 13:56:07.343917,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
2687,2729,2,$0703,2017-06-09,Y,2017-06-09 13:56:08.239201,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
2688,2730,2,$0801,2017-06-09,Y,2017-06-09 13:56:10.410345,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09

In [20]:
#information on the patients
df_patient.head()

,id,hash_fin,date,checklist_id,visible_groups,los_icu,los,apache_is_completed,has_antibiotics,has_lines,has_medication,has_ventilation,workday,unit_id,user_detail_id,just_date
44,120,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-15 13:09:39.642624,1,"08,07,03,10",3 days,9 days,0,0,1,1,0,2017-05-15,3,67,2017-05-15
45,121,37e2ca907b6b9c2fb5202767c096a73b6c18c5d9,2017-05-15 13:09:41.830361,1,"01,03,06,07,08",42 days,42 days,1,1,1,1,1,2017-05-15,4,69,2017-05-15
46,122,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-15 13:12:53.666151,1,"03,07,08,10",3 days,9 days,0,0,1,1,0,2017-05-15,3,67,2017-05-15
47,123,37e2ca907b6b9c2fb5202767c096a73b6c18c5d9,2017-05-15 13:13:53.532611,1,"01,06,08,03,07",42 days,42 days,1,1,1,1,1,2017-05-15,4,69,2017-05-15
48,124,37e2ca907b6b9c2fb5202767c096a73b6c18c5d9,2017-05-15 13:14:22.852311,1,"01,03,06,07,08",42 days,42 days,1,1,1,1,1,2017-05-15,4,69,2017-05-15

In [74]:
df_patient[df_patient.hash_fin == '07e1b75fe53343221703226deb96b71bb6d90930']

,id,hash_fin,date,checklist_id,visible_groups,los_icu,los,apache_is_completed,has_antibiotics,has_lines,has_medication,has_ventilation,workday,unit_id,user_detail_id,just_date
64,140,07e1b75fe53343221703226deb96b71bb6d90930,2017-05-15 15:37:12.688794,1,"01,06,03,08,07",18 days,26 days,1,1,1,1,1,2017-05-15,4,69,2017-05-15
70,146,07e1b75fe53343221703226deb96b71bb6d90930,2017-05-16 14:57:27.915578,1,"01,06,08,03,07",19 days,27 days,1,1,1,1,1,2017-05-16,4,69,2017-05-16
87,163,07e1b75fe53343221703226deb96b71bb6d90930,2017-05-17 14:42:12.291822,1,"01,07,06,08,03",20 days,28 days,1,1,1,1,1,2017-05-17,4,69,2017-05-17
131,207,07e1b75fe53343221703226deb96b71bb6d90930,2017-05-18 15:07:32.821076,1,"01,07,06,03,08",21 days,29 days,1,1,1,1,1,2017-05-18,4,72,2017-05-18
153,229,07e1b75fe53343221703226deb96b71bb6d90930,2017-05-19 15:17:01.053216,1,"01,03,08,07,06",22 days,30 days,1,1,1,1,1,2017-05-19,4,71,2017-05-19
154,230,07e1b75fe53343221703226deb96b71bb6d90930,2017-05-19 15:19:09.764039,1,"01,03,08,07,06",22 days,30 days,1,1,1,1,1,2017-05-19,4,71,2017-05-19

In [21]:
print(df_patient_response.columns, df_patient.columns)

Index(['id', 'checklist_id', 'question_id', 'workday', 'response', 'date',
       'patient_id', 'unit_id', 'user_detail_id', 'hash_fin', 'just_date'],
      dtype='object') Index(['id', 'hash_fin', 'date', 'checklist_id', 'visible_groups', 'los_icu',
       'los', 'apache_is_completed', 'has_antibiotics', 'has_lines',
       'has_medication', 'has_ventilation', 'workday', 'unit_id',
       'user_detail_id', 'just_date'],
      dtype='object')

In [51]:
#matching patients with the answers
df1 = pd.merge(df_patient_response, df_patient[['id', 'hash_fin', 'date', 'checklist_id', 'unit_id',
                                                'visible_groups', 'los_icu', 'user_detail_id', 'just_date']],            
              
               left_on=['hash_fin','user_detail_id','unit_id','checklist_id'], 
               right_on=['hash_fin', 'user_detail_id','unit_id','checklist_id'])
# df_merge_patient_response[['checklist_id_x', 'question_id_x', 'workday_x', 'response', 'date_x', 'patient_id',]]
# df_merge_patient_response.columns

In [88]:
#Please rename this, g1 has all the responses for each patient 
g = df1[df1.date_x >= df1.date_y].groupby(['hash_fin', 'id_x'])#user_detail_id', 'unit_id', 'checklist_id','workday'])#['date_x', 'visible_groups']
g1 = g.apply(lambda x: x.sort_values(by='date_y', ascending=False))
g1.drop_duplicates(subset='id_x', keep='first')

                                                   id_x checklist_id  \
hash_fin                                 id_x
07e1b75fe53343221703226deb96b71bb6d90930 977  87    977            1
                                         978  88    978            1
                                         979  89    979            1
                                         980  90    980            1
                                         981  91    981            1
                                         982  92    982            1
                                         983  93    983            1
                                         984  94    984            1
                                         985  95    985            1
                                         986  96    986            1
                                         987  97    987            1
                                         988  98    988            1
                                         1139 100  1139            1
                                         1140 102  1140            1
                                         1141 104  1141            1
                                         1142 106  1142            1
                                         1143 108  1143            1
                                         1144 110  1144            1
                                         1145 112  1145            1
                                         1146 114  1146            1
                                         1147 116  1147            1
                                         1150 118  1150            1
                                         1151 120  1151            1
2265516f326cf9ea002bfd4a21dc122a63e0e380 2747 490  2747            2
                                         2748 491  2748            2
                                         2749 492  2749            2
                                         2750 493  2750            2
                                         2751 494  2751            2
                                         2752 495  2752            2
                                         2753 496  2753            2
...                                                 ...          ...
f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89 3403 561  3403            2
                                         3404 562  3404            2
                                         3406 563  3406            2
                                         3407 564  3407            2
                                         3409 565  3409            2
                                         3410 566  3410            2
                                         3678 583  3678            2
                                         3679 584  3679            2
                                         3680 585  3680            2
                                         3681 586  3681            2
                                         3682 587  3682            2
                                         3683 588  3683            2
                                         3684 589  3684            2
                                         3685 590  3685            2
                                         3923 567  3923            2
                                         3924 568  3924            2
                                         3925 569  3925            2
                                         3926 570  3926            2
                                         3927 571  3927            2
                                         3928 572  3928            2
                                         3929 573  3929            2
                                         3930 574  3930            2
                                         4415 575  4415            2
                                         4416 576  4416            2
                                         4417 577  4417            2
                                         4418 578  4418            2
                                         4419 579  4419            2
                                         4420 580  4420            2
                                         4421 581  4421            2
                                         4422 582  4422            2

                                                  question_id     workday  \
hash_fin                                 id_x
07e1b75fe53343221703226deb96b71bb6d90930 977  87        $0101  2017-05-23
                                         978  88        $0201  2017-05-23
                                         979  89        $0203  2017-05-23
                                         980  90        $0601  2017-05-23
                                         981  91        $0701  2017-05-23
                                         982  92        $0702  2017-05-23
                                         983  93        $0703  2017-05-23
                                         984  94        $0801  2017-05-23
                                         985  95        $0301  2017-05-23
                                         986  96        $0401  2017-05-23
                                         987  97        $0402  2017-05-23
                                         988  98        $0501  2017-05-23
                                         1139 100       $0101  2017-05-24
                                         1140 102       $0201  2017-05-24
                                         1141 104       $0801  2017-05-24
                                         1142 106       $0301  2017-05-24
                                         1143 108       $0401  2017-05-24
                                         1144 110       $0402  2017-05-24
                                         1145 112       $0501  2017-05-24
                                         1146 114       $0701  2017-05-24
                                         1147 116       $0703  2017-05-24
                                         1150 118       $0601  2017-05-24
                                         1151 120       $0702  2017-05-24
2265516f326cf9ea002bfd4a21dc122a63e0e380 2747 490       $0301  2017-06-09
                                         2748 491       $0401  2017-06-09
                                         2749 492       $0402  2017-06-09
                                         2750 493       $0501  2017-06-09
                                         2751 494       $0701  2017-06-09
                                         2752 495       $0703  2017-06-09
                                         2753 496       $0801  2017-06-09
...                                                       ...         ...
f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89 3403 561       $0801  2017-06-15
                                         3404 562       $0301  2017-06-15
                                         3406 563       $0401  2017-06-15
                                         3407 564       $0402  2017-06-15
                                         3409 565       $0501  2017-06-15
                                         3410 566       $0601  2017-06-15
                                         3678 583       $0601  2017-06-16
                                         3679 584       $0301  2017-06-16
                                         3680 585       $0401  2017-06-16
                                         3681 586       $0402  2017-06-16
                                         3682 587       $0501  2017-06-16
                                         3683 588       $0701  2017-06-16
                                         3684 589       $0703  2017-06-16
                                         3685 590       $0801  2017-06-16
                                         3923 567       $0701  2017-06-18
                                         3924 568       $0703  2017-06-18
                                         3925 569       $0801  2017-06-18
                                         3926 570       $0301  2017-06-18
                                         3927 571       $0401  2017-06-18
                                         3928 572       $0402  2017-06-18
                                         3929 573       $0501  2017-06-18
                                         3930 574       $0601  2017-06-18
                                         4415 575       $0601  2017-06-20
                                         4416 576       $0801  2017-06-20
                                         4417 577       $0701  2017-06-20
                                         4418 578       $0703  2017-06-20
                                         4419 579       $0301  2017-06-20
                                         4420 580       $0401  2017-06-20
                                         4421 581       $0402  2017-06-20
                                         4422 582       $0501  2017-06-20

                                                  response  \
hash_fin                                 id_x
07e1b75fe53343221703226deb96b71bb6d90930 977  87         Y
                                         978  88         N
                                         979  89         N
                                         980  90         N
                                         981  91         Y
                                         982  92         Y
                                         983  93         Y
                                         984  94         Y
                                         985  95         N
                                         986  96         N
                                         987  97         Y
                                         988  98         Y
                                         1139 100        Y
                                         1140 102        N
                                         1141 104        Y
                                         1142 106        N
                                         1143 108        N
                                         1144 110        Y
                                         1145 112        N
                                         1146 114        N
                                         1147 116        N
                                         1150 118        N
                                         1151 120        Y
2265516f326cf9ea002bfd4a21dc122a63e0e380 2747 490        Y
                                         2748 491        Y
                                         2749 492        N
                                         2750 493        Y
                                         2751 494        Y
                                         2752 495        Y
                                         2753 496        Y
...                                                    ...
f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89 3403 561        Y
                                         3404 562        N
                                         3406 563        N
                                         3407 564        N
                                         3409 565        Y
                                         3410 566        N
                                         3678 583        Y
                                         3679 584        N
                                         3680 585        N
                                         3681 586        N
                                         3682 587        Y
                                         3683 588        Y
                                         3684 589        Y
                                         3685 590        Y
                                         3923 567        Y
                                         3924 568        Y
                                         3925 569        Y
                                         3926 570        N
                                         3927 571        N
                                         3928 572        N
                                         3929 573        Y
                                         3930 574        N
                                         4415 575        N
                                         4416 576        Y
                                         4417 577        Y
                                         4418 578        Y
                                         4419 579        N
                                         4420 580        N
                                         4421 581        Y
                                         4422 582        A

                                                                      date_x  \
hash_fin                                 id_x
07e1b75fe53343221703226deb96b71bb6d90930 977  87  2017-05-23 14:54:07.267612
                                         978  88  2017-05-23 14:54:08.838137
                                         979  89  2017-05-23 14:54:11.885950
                                         980  90  2017-05-23 14:54:14.358476
                                         981  91  2017-05-23 14:54:25.799800
                                         982  92  2017-05-23 14:54:20.571559
                                         983  93  2017-05-23 14:54:28.054966
                                         984  94  2017-05-23 14:54:30.321690
                                         985  95  2017-05-23 14:54:32.821528
                                         986  96  2017-05-23 14:54:33.801111
                                         987  97  2017-05-23 14:54:34.921869
                                         988  98  2017-05-23 14:54:39.906370
                                         1139 100 2017-05-24 14:43:31.676363
                                         1140 102 2017-05-24 14:43:33.815084
                                         1141 104 2017-05-24 14:43:37.648974
                                         1142 106 2017-05-24 14:43:41.934523
                                         1143 108 2017-05-24 14:43:42.949389
                                         1144 110 2017-05-24 14:43:44.649714
                                         1145 112 2017-05-24 14:43:50.632827
                                         1146 114 2017-05-24 14:44:07.422686
                                         1147 116 2017-05-24 14:44:10.087766
                                         1150 118 2017-05-24 14:49:35.899081
                                         1151 120 2017-05-24 14:50:21.009960
2265516f326cf9ea002bfd4a21dc122a63e0e380 2747 490 2017-06-09 14:36:58.119570
                                         2748 491 2017-06-09 14:36:59.619093
                                         2749 492 2017-06-09 14:37:01.784337
                                         2750 493 2017-06-09 14:37:03.504259
                                         2751 494 2017-06-09 14:37:05.952208
                                         2752 495 2017-06-09 14:37:06.689848
                                         2753 496 2017-06-09 14:37:08.682705
...                                                                      ...
f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89 3403 561 2017-06-15 14:44:54.348697
                                         3404 562 2017-06-15 14:44:59.131307
                                         3406 563 2017-06-15 14:45:08.968786
                                         3407 564 2017-06-15 14:45:09.668834
                                         3409 565 2017-06-15 14:45:15.834308
                                         3410 566 2017-06-15 14:45:21.135190
                                         3678 583 2017-06-16 16:49:06.074691
                                         3679 584 2017-06-16 16:49:39.594996
                                         3680 585 2017-06-16 16:49:42.924365
                                         3681 586 2017-06-16 16:49:49.396817
                                         3682 587 2017-06-16 16:50:23.118621
                                         3683 588 2017-06-16 16:50:28.112956
                                         3684 589 2017-06-16 16:50:28.750141
                                         3685 590 2017-06-16 16:50:31.226081
                                         3923 567 2017-06-18 14:40:22.733226
                                         3924 568 2017-06-18 14:40:23.866083
                                         3925 569 2017-06-18 14:40:26.382861
                                         3926 570 2017-06-18 14:40:29.232229
                                         3927 571 2017-06-18 14:40:31.349110
                                         3928 572 2017-06-18 14:40:36.403207
                                         3929 573 2017-06-18 14:40:38.313886
                                         3930 574 2017-06-18 14:40:43.001730
                                         4415 575 2017-06-20 17:53:24.636609
                                         4416 576 2017-06-20 17:53:27.039936
                                         4417 577 2017-06-20 17:53:29.006017
                                         4418 578 2017-06-20 17:53:29.671060
                                         4419 579 2017-06-20 17:53:31.690707
                                         4420 580 2017-06-20 17:53:32.623407
                                         4421 581 2017-06-20 17:53:34.723300
                                         4422 582 2017-06-20 17:53:45.359975

                                                   patient_id  unit_id  \
hash_fin                                 id_x
07e1b75fe53343221703226deb96b71bb6d90930 977  87           95        4
                                         978  88           95        4
                                         979  89           95        4
                                         980  90           95        4
                                         981  91           95        4
                                         982  92           95        4
                                         983  93           95        4
                                         984  94           95        4
                                         985  95           95        4
                                         986  96           95        4
                                         987  97           95        4
                                         988  98           95        4
                                         1139 100          95        4
                                         1140 102          95        4
                                         1141 104          95        4
                                         1142 106          95        4
                                         1143 108          95        4
                                         1144 110          95        4
                                         1145 112          95        4
                                         1146 114          95        4
                                         1147 116          95        4
                                         1150 118          95        4
                                         1151 120          95        4
2265516f326cf9ea002bfd4a21dc122a63e0e380 2747 490         136        4
                                         2748 491         136        4
                                         2749 492         136        4
                                         2750 493         136        4
                                         2751 494         136        4
                                         2752 495         136        4
                                         2753 496         136        4
...                                                       ...      ...
f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89 3403 561         164        4
                                         3404 562         164        4

# Specific Categories

Yeah, so they want to look at three specific questions: 1) DVT, 2) Lines (specifically central lines if their version has it split into peripheral and central), 3) Foleys


[2:01] 
I think for each question, what they want to know is: for each week, 1) how many patients total were the questions answered, 2) for the patients where it was answered, what are the proportions of the different answers, 3) for patients where the 'bad' answer was given initially (no we can't discontinue the foley, no we can't pull the line, etc), how many days did they spend in the 'bad' answer category before switching to the 'good' category. [Taking into account where it was contraindicated]


[2:02] 
they want to see it because they measure all these things by another method (probably nursing reports) and they want to see if those two sources (us vs nursing reports) have any differences

# 1 backendLogin = 1
2 cernerObtainToken = 2
3 cernerAuthenticate = 3
4 selectUnit = 4
5 login = 5
6 patientList = 6
7 patientDetail = 7

ACTIONS

0 error = 0
   
# beaconTimer
101 beaconStatus = 101

# backendLogin
201 challenge = 201
202 challengeError = 202
203 challengeAccepted = 203
204 connecting = 204
205 logged = 205
206 logout = 206
   
# cernerAuthenticate
301 obtained = 301
302 authenticating = 302
303 authenticated = 303
   
# selectUnit
401 selected = 401
   
# patientList & patientDetail
501 help = 501
502 loaded = 502
503 loadError = 503
   
# patientList
601 refresh = 601
602 selectPatient = 602
   
# patientDetail
701 answer = 701
702 showGroup = 702
703 EMRInfoHidden = 703
704 EMRInfoExpanded = 704

# NSICU (unit 3)
01 ventilatorWeaning 

03 linesFood 

06 antibiotics 

07 dvt 

08 pressureUlcer 

10 NO 

### CTICU (unit 4)
01 ventilatorWeaning 

03 linesFood 

06 antibiotics 

07 dvt 

08 pressureUlcer 

10 NO

In [73]:
checklist_query = "select * from backend_v10_checklist"
df_checklist = pd.read_sql(checklist_query, conn)
df_checklist

,id,public_id,name,text,in_production,unit_id
0,2,20,Test,"{""id"": ""20"", ""groups"": [{""id"": ""01"", ""dependen...",1,1
1,5,1,Initial checklist,"{""order"": ""(01,{03|06|07|08},10)"", ""id"": ""1"", ...",1,3
2,10,1,Initial checklist,"{""order"": ""(01,{03|06|07|08},10)"", ""id"": ""1"", ...",1,4
3,11,4,No ARDS with N/A (lowercase),"{""order"": ""(01,{03|06|07|08},10)"", ""groups"": [...",1,8
4,12,100,Leigh Wild Checklist,"{""order"": ""(01,{03|06|07|08},10)"", ""groups"": [...",1,8
5,13,2,Initial checklist with tracheostomy question,"{""description"": ""Initial checklist with trache...",1,3
6,14,2,Initial checklist with tracheostomy question,"{""description"": ""Initial checklist with trache...",1,4

In [94]:
import ast
unit3_2 =ast.literal_eval(df_checklist.text[2])
unit3_1=ast.literal_eval(df_checklist.text[6])

In [95]:
for key, val in unit3_1.items():
    print(key, val, type(val),len(val))
    print()

id 2 <class 'str'> 1

order (01,{03|06|07|08},10) <class 'str'> 21

groups [{'emrInfoId': 'ventilatorWeaning', 'sections': [{'id': '$0100', 'title': 'Sedation:', 'dependence': 'hasMedication', 'questions': [{'text': 'Has a sedation awakening trial (SAT) been performed today?', 'id': '$0101', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}, {'text': 'Is it appropriate to perform an SAT today?', 'id': '$0102', 'dependence': "$0101=='N'", 'indentation': 0, 'questionType': 'A'}]}, {'id': '$0200', 'title': 'Ventilator weaning:', 'dependence': 'hasVentilation', 'questions': [{'text': 'Has a spontaneous breathing trial (SBT) been performed today?', 'id': '$0201', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}, {'text': 'Can the patient be extubated today?', 'id': '$0202', 'dependence': "$0201=='Y'", 'indentation': 0, 'questionType': 'Q'}, {'text': 'Does the patient have a tracheostomy or is scheduled for tracheostomy placement?', 'id': '$0205', 'dependence': "$0201=='Y' and $0202=='N'", 'indentation': 0, 'questionType': 'Q'}, {'text': 'Is it appropriate to perform an SBT today?', 'id': '$0203', 'dependence': "$0201=='N'", 'indentation': 0, 'questionType': 'Q'}, {'text': 'Can the patient be extubated today?', 'id': '$0204', 'dependence': "$0201=='N' and $0203=='Y'", 'indentation': 0, 'questionType': 'Q'}, {'text': 'Does the patient have a tracheostomy or is scheduled for tracheostomy placement?', 'id': '$0206', 'dependence': "$0201=='N' and $0203=='Y' and $0204=='N'", 'indentation': 0, 'questionType': 'Q'}]}], 'dependence': 'hasVentilation', 'id': '01', 'title': 'Ventilator & Sedation Weaning'}, {'emrInfoId': 'linesFood', 'sections': [{'id': '$0300', 'title': 'Vascular access:', 'dependence': 'true', 'questions': [{'text': 'Can any central venous or arterial lines be removed?', 'id': '$0301', 'dependence': 'true', 'indentation': 0, 'questionType': 'A'}]}, {'id': '$0400', 'title': 'Urinary catheters:', 'dependence': 'true', 'questions': [{'text': 'Can the urinary catheter be removed today?', 'id': '$0401', 'dependence': 'true', 'indentation': 0, 'questionType': 'A'}, {'text': 'Is this catheter a nurse managed protocol?', 'id': '$0402', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}, {'text': ' (NO means MD managed protocol)', 'id': '$0403', 'dependence': 'true', 'indentation': 3, 'questionType': 'T'}]}, {'id': '$0500', 'title': 'Nutrition:', 'dependence': 'true', 'questions': [{'text': 'Is it appropriate to increase nutrition today?', 'id': '$0501', 'dependence': 'true', 'indentation': 0, 'questionType': 'A'}]}], 'dependence': 'true', 'id': '03', 'title': 'Vascular Access, Urinary Catheter & Nutrition'}, {'emrInfoId': 'antibiotics', 'sections': [{'id': '$0600', 'title': '', 'dependence': 'true', 'questions': [{'text': 'Can antibiotic coverage be stopped or narrowed today?', 'id': '$0601', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}]}], 'dependence': 'hasAntibiotics', 'id': '06', 'title': 'Antibiotics'}, {'emrInfoId': 'dvt', 'sections': [{'id': '$0700', 'title': '', 'dependence': 'true', 'questions': [{'text': 'Is the patient on appropriate DVT chemoprophylaxis?', 'id': '$0701', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}, {'text': 'Is it contraindicated?', 'id': '$0702', 'dependence': "$0701=='N'", 'indentation': 0, 'questionType': 'Q'}, {'text': "Can the patient's mobility be increased today?", 'id': '$0703', 'dependence': 'true', 'indentation': 0, 'questionType': 'A'}]}], 'dependence': 'true', 'id': '07', 'title': 'DVT'}, {'emrInfoId': 'pressureUlcer', 'sections': [{'id': '$0800', 'title': '', 'dependence': 'true', 'questions': [{'text': 'Has the patient been reviewed for pressure ulcers today?', 'id': '$0801', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}]}], 'dependence': 'true', 'id': '08', 'title': 'Pressure Ulcers'}, {'emrInfoId': 'NO', 'sections': [{'id': '$1000', 'title': '', 'dependence': 'true', 'questions': [{'text': 'APACHE form is not complete. Please fill out the APACHE form.', 'id': '$1001', 'dependence': 'true', 'indentation': 0, 'questionType': 'T'}]}], 'dependence': '!apacheIsCompleted', 'id': '10', 'title': 'Apache'}] <class 'list'> 6

description Initial checklist with tracheostomy question <class 'str'> 44

In [96]:
for a in unit3_1['groups']:
    print(a['id'], a['emrInfoId'], '\n')

01 ventilatorWeaning

03 linesFood

06 antibiotics

07 dvt

08 pressureUlcer

10 NO

In [97]:
for b in unit3_2['groups']:
    print(b['id'], b['emrInfoId'], '\n')

01 ventilatorWeaning

03 linesFood

06 antibiotics

07 dvt

08 pressureUlcer

10 NO