# Import

In [5]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
from sqlalchemy import create_engine
import pandas as pd
import json
from collections import defaultdict
import matplotlib.pyplot as plt
import datetime

In [7]:
import matplotlib as mpl
mpl.rcParams['pdf.fonttype'] = 42
mpl.style.use('fivethirtyeight')

# Calculate Status for all the patients that has responses

### Query data

In [8]:
df_patient_response = pd.read_csv('../../data/patient_response.csv')
df_patient = pd.read_csv('../../data/patient_detail.csv')
df_tmetryentry = pd.read_csv('../../data/tmetryentry.csv')

In [73]:
df_patient_response

,Unnamed: 0,id,checklist_id,question_id,workday,response,date,patient_id,unit_id,user_detail_id,hash_fin,just_date
0,24,52,1,$0101,2017-05-15,Y,2017-05-15 13:09:54.224097,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
1,25,53,1,$0201,2017-05-15,N,2017-05-15 13:10:22.898225,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
2,26,54,1,$0203,2017-05-15,N,2017-05-15 13:10:24.263776,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
3,27,55,1,$0801,2017-05-15,Y,2017-05-15 15:03:29.340876,46,3,67,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
4,28,56,1,$0801,2017-05-15,Y,2017-05-15 13:42:35.473971,55,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
5,29,57,1,$0701,2017-05-15,Y,2017-05-15 13:42:42.653400,55,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
6,30,58,1,$0703,2017-05-15,A,2017-05-15 13:42:43.545755,55,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
7,31,59,1,$0601,2017-05-15,N,2017-05-15 13:43:22.262356,55,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
8,32,60,1,$0301,2017-05-15,Y,2017-05-15 13:43:59.370503,55,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
9,33,61,1,$0401,2017-05-15,A,2017-05-15 13:44:03.955529,55,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
10,34,62,1,$0402,2017-05-15,N,2017-05-15 13:47:04.560272,55,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
11,35,63,1,$0501,2017-05-15,A,2017-05-15 13:47:33.579348,55,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
12,36,64,1,$0301,2017-05-15,Y,2017-05-15 13:56:10.274930,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
13,37,65,1,$0401,2017-05-15,N,2017-05-15 13:56:12.154823,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
14,38,66,1,$0402,2017-05-15,N,2017-05-15 13:56:13.290030,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
15,39,67,1,$0501,2017-05-15,N,2017-05-15 13:57:23.335872,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
16,40,68,1,$0701,2017-05-15,N,2017-05-15 13:57:29.923197,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
17,41,69,1,$0702,2017-05-15,Y,2017-05-15 13:57:31.866094,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
18,42,70,1,$0703,2017-05-15,N,2017-05-15 13:57:37.804352,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
19,43,71,1,$0601,2017-05-15,N,2017-05-15 13:57:44.334575,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
20,44,72,1,$0801,2017-05-15,Y,2017-05-15 13:57:47.002072,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
21,73,101,1,$0301,2017-05-15,A,2017-05-15 15:02:48.048556,46,3,67,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
22,76,104,1,$0401,2017-05-15,A,2017-05-15 15:02:54.446989,46,3,67,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
23,77,105,1,$0402,2017-05-15,N,2017-05-15 15:03:02.898845,46,3,67,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
24,78,106,1,$0501,2017-05-15,A,2017-05-15 15:03:08.123298,46,3,67,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
25,79,107,1,$0701,2017-05-15,Y,2017-05-15 15:03:15.286755,46,3,67,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
26,80,108,1,$0703,2017-05-15,Y,2017-05-15 15:03:23.054312,46,3,67,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
27,101,129,1,$0101,2017-05-16,Y,2017-05-16 14:13:21.851027,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-16
28,102,130,1,$0201,2017-05-16,N,2017-05-16 14:13:23.601526,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-16
29,103,131,1,$0203,2017-05-16,N,2017-05-16 14:13:24.692009,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-16
...,...,...,...,...,...,...,...,...,...,...,...,...
4574,5594,5636,2,$0702,2017-06-30,N,2017-06-30 14:56:17.224128,204,3,72,2265516f326cf9ea002bfd4a21dc122a63e0e380,2017-06-30
4575,5595,5637,2,$0703,2017-06-30,Y,2017-06-30 14:56:19.923557,204,3,72,2265516f326cf9ea002bfd4a21dc122a63e0e380,2017-06-30
4576,5596,5638,2,$0301,2017-06-30,A,2017-06-30 15:13:01.999969,239,3,72,b9ed4fba304cf9b20035c9651011af2302c06416,2017-06-30
4577,5597,5639,2,$0401,2017-06-30,A,2017-06-30 15:13:03.182349,239,3,72,b9ed4fba304cf9b20035c9651011af2302c06416,2017-06-30
4578,5598,5640,2,$0402,2017-06-30,Y,2017-06-30 15:13:04.399144,239,3,72,b9ed4fba304cf9b20035c9651011af2302c06416,2017-06-30
4579,5599,5641,2,$0501,2017-06-30,N,2017-06-30 15:14:32.463266,239,3,72,b9ed4fba304cf9b20035c9651011af2302c06416,2017-06-30
4580,5600,5642,2,$0601,2017-06-30,N,2017-06-30 15:14:37.278477,239,3,72,b9ed4fba304cf9b20035c9651011af2302c06416,2017-06-30
4581,5601,5643,2,$0701,2017-06-30,N,2017-06-30 15:14:42.542232,239,3,72,b9ed4fba304cf9b20035c9651011af2302c06416,2017-06-30
4582,5602,5644,2,$0702,2017-06-30,Y,2017-06-30 15:14:43.514615,239,3,72,b9ed4fba304cf9b20035c9651011af2302c06416,2017-06-30
4583,5603,5645,2,$0703,2017-06-30,Y,2017-06-30 15:14:45.569237,239,3,72,b9ed4fba304cf9b20035c9651011af2302c06416,2017-06-30
4584,5604,5646,2,$0801,2017-06-30,Y,2017-06-30 15:14:48.662652,239,3,72,b9ed4fba304cf9b20035c9651011af2302c06416,2017-06-30
4585,5605,5647,2,$0101,2017-06-30,Y,2017-06-30 15:15:07.870256,222,3,72,2265516f326cf9ea002bfd4a21dc122a63e0e380,2017-06-30
4586,5606,5648,2,$0201,2017-06-30,N,2017-06-30 15:15:12.534873,222,3,72,2265516f326cf9ea002bfd4a21dc122a63e0e380,2017-06-30
4587,5607,5649,2,$0203,2017-06-30,N,2017-06-30 15:15:14.050127,222,3,72,2265516f326cf9ea002bfd4a21dc122a63e0e380,2017-06-30
4588,5608,5650,2,$0601,2017-06-30,N,2017-06-30 15:15:17.375756,222,3,72,2265516f326cf9ea002bfd4a21dc122a63e0e380,2017-06-30
4589,5609,5651,2,$0801,2017-06-30,Y,2017-06-30 15:15:20.817185,222,3,72,2265516f326cf9ea002bfd4a21dc122a63e0e380,2017-06-30
4590,5610,5652,2,$0701,2017-06-30,N,2017-06-30 15:15:24.751027,222,3,72,2265516f326cf9ea002bfd4a21dc122a63e0e380,2017-06-30
4591,5611,5653,2,$0702,2017-06-30,Y,2017-06-30 15:15:26.035893,222,3,72,2265516f326cf9ea002bfd4a21dc122a63e0e380,2017-06-30
4592,5612,5654,2,$0703,2017-06-30,A,2017-06-30 15:15:30.074557,222,3,72,2265516f326cf9ea002bfd4a21dc122a63e0e380,2017-06-30
4593,5613,5655,2,$0301,2017-06-30,A,2017-06-30 15:15:32.868538,222,3,72,2265516f326cf9ea002bfd4a21dc122a63e0e380,2017-06-30
4594,5614,5656,2,$0401,2017-06-30,A,2017-06-30 15:15:34.465748,222,3,72,2265516f326cf9ea002bfd4a21dc122a63e0e380,2017-06-30
4595,5615,5657,2,$0402,2017-06-30,Y,2017-06-30 15:15:36.045582,222,3,72,2265516f326cf9ea002bfd4a21dc122a63e0e380,2017-06-30
4596,5616,5658,2,$0501,2017-06-30,A,2017-06-30 15:15:39.434205,222,3,72,2265516f326cf9ea002bfd4a21dc122a63e0e380,2017-06-30
4597,5617,5659,2,$0701,2017-06-30,Y,2017-06-30 15:19:22.692613,152,3,72,aac07f3d4e99102701fa1929b2adcf09327f7760,2017-06-30
4598,5618,5660,2,$0703,2017-06-30,N,2017-06-30 15:19:28.906506,152,3,72,aac07f3d4e99102701fa1929b2adcf09327f7760,2017-06-30
4599,5619,5661,2,$0301,2017-06-30,A,2017-06-30 15:19:37.151163,152,3,72,aac07f3d4e99102701fa1929b2adcf09327f7760,2017-06-30
4600,5620,5662,2,$0401,2017-06-30,A,2017-06-30 15:19:39.469575,152,3,72,aac07f3d4e99102701fa1929b2adcf09327f7760,2017-06-30
4601,5621,5663,2,$0402,2017-06-30,Y,2017-06-30 15:19:42.865298,152,3,72,aac07f3d4e99102701fa1929b2adcf09327f7760,2017-06-30
4602,5622,5664,2,$0801,2017-06-30,Y,2017-06-30 15:19:47.753734,152,3,72,aac07f3d4e99102701fa1929b2adcf09327f7760,2017-06-30
4603,5623,5665,2,$0501,2017-06-30,A,2017-06-30 15:20:10.778554,152,3,72,aac07f3d4e99102701fa1929b2adcf09327f7760,2017-06-30

### How each dataframe looks like

In [9]:
#Information for all of the entries
df_tmetryentry.head()

,Unnamed: 0,id,session_id,date,object,action,strValue,unit_id,user_detail_id,intValue,just_date
0,28620,29918,2139699710,2017-05-15 13:07:14.407210,1,201,nm177724,3.0,67,NaN,2017-05-15
1,28621,29919,2139699710,2017-05-15 13:07:14.536299,1,203,nm177724,3.0,67,NaN,2017-05-15
2,28622,29920,2139699710,2017-05-15 13:07:14.536680,2,204,nm177724,3.0,67,NaN,2017-05-15
3,28623,29921,2139699710,2017-05-15 13:07:14.567145,2,301,nm177724,3.0,67,NaN,2017-05-15
4,28624,29922,2139699710,2017-05-15 13:07:14.567565,3,302,nm177724,3.0,67,NaN,2017-05-15

In [10]:
df_tmetryentry[df_tmetryentry.strValue == '098d477fde14ee3ee30c9f363d5ac06f85c3ca51']

,Unnamed: 0,id,session_id,date,object,action,strValue,unit_id,user_detail_id,intValue,just_date
23,28643,29941,2139699710,2017-05-15 13:09:37.229240,6,602,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,3.0,67,NaN,2017-05-15
60,28680,29978,2139699710,2017-05-15 13:12:51.209708,6,602,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,3.0,67,NaN,2017-05-15
70,28690,29988,2139699710,2017-05-15 13:16:12.955344,6,602,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,3.0,67,NaN,2017-05-15
107,28775,30073,3547602005,2017-05-15 13:20:51.575758,6,602,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,3.0,67,NaN,2017-05-15
212,29154,30452,172184393,2017-05-15 14:33:32.844021,6,602,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,3.0,67,NaN,2017-05-15
395,29389,30687,334320999,2017-05-16 14:47:00.542595,6,602,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,3.0,67,NaN,2017-05-16
660,251968,253266,3860602040,2017-05-17 14:46:13.181498,6,602,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,3.0,67,NaN,2017-05-17

In [11]:
#information on the answers
df_patient_response[df_patient_response.patient_id.isin([120])]

,Unnamed: 0,id,checklist_id,question_id,workday,response,date,patient_id,unit_id,user_detail_id,hash_fin,just_date
736,1741,1783,2,$0401,2017-05-31,A,2017-05-31 14:42:59.749305,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-31
737,1742,1784,2,$0402,2017-05-31,Y,2017-05-31 14:43:00.902044,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-31
738,1743,1785,2,$0501,2017-05-31,N,2017-05-31 14:43:02.948959,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-31
739,1744,1786,2,$0701,2017-05-31,N,2017-05-31 14:43:06.083190,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-31
740,1745,1787,2,$0702,2017-05-31,Y,2017-05-31 14:43:07.549812,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-31
741,1746,1788,2,$0703,2017-05-31,N,2017-05-31 14:43:08.783249,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-31
742,1747,1789,2,$0801,2017-05-31,Y,2017-05-31 14:43:11.433846,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-31
743,1748,1790,2,$0301,2017-05-31,N,2017-05-31 14:43:39.367822,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-05-31
829,1846,1888,2,$0801,2017-06-01,Y,2017-06-01 14:32:14.329502,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
830,1847,1889,2,$0401,2017-06-01,N,2017-06-01 14:35:19.665822,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
831,1848,1890,2,$0402,2017-06-01,N,2017-06-01 14:35:22.820220,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
832,1849,1891,2,$0703,2017-06-01,Y,2017-06-01 14:33:46.624969,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
833,1850,1892,2,$0701,2017-06-01,Y,2017-06-01 14:41:49.757089,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
834,1851,1893,2,$0601,2017-06-01,N,2017-06-01 14:34:37.471368,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
835,1852,1894,2,$0702,2017-06-01,Y,2017-06-01 14:34:44.927201,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
836,1853,1895,2,$0301,2017-06-01,N,2017-06-01 14:35:10.654069,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
837,1854,1896,2,$0501,2017-06-01,N,2017-06-01 14:35:26.087657,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
838,1855,1897,2,$0101,2017-06-01,Y,2017-06-01 14:35:36.695899,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
839,1856,1898,2,$0201,2017-06-01,Y,2017-06-01 14:35:41.955819,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
840,1857,1899,2,$0202,2017-06-01,N,2017-06-01 14:35:44.385644,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
841,1858,1900,2,$0205,2017-06-01,N,2017-06-01 14:35:47.374550,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-01
938,1955,1997,2,$0101,2017-06-02,Y,2017-06-02 14:36:52.877676,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
939,1956,1998,2,$0201,2017-06-02,Y,2017-06-02 14:36:54.171151,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
940,1957,1999,2,$0202,2017-06-02,N,2017-06-02 14:37:07.928818,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
941,1958,2000,2,$0205,2017-06-02,N,2017-06-02 14:37:10.041283,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
942,1959,2001,2,$0801,2017-06-02,Y,2017-06-02 14:37:28.058718,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
943,1960,2002,2,$0701,2017-06-02,Y,2017-06-02 14:37:31.263296,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
944,1961,2003,2,$0703,2017-06-02,Y,2017-06-02 14:37:32.011356,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
945,1962,2004,2,$0601,2017-06-02,N,2017-06-02 14:38:03.475432,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
946,1963,2005,2,$0301,2017-06-02,N,2017-06-02 14:38:29.623566,120,4,75,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-02
...,...,...,...,...,...,...,...,...,...,...,...,...
1467,2484,2526,2,$0701,2017-06-07,Y,2017-06-07 15:16:58.804655,120,4,67,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-07
1468,2485,2527,2,$0703,2017-06-07,Y,2017-06-07 15:17:03.948434,120,4,67,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-07
1469,2486,2528,2,$0301,2017-06-07,N,2017-06-07 15:17:07.488976,120,4,67,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-07
1470,2487,2529,2,$0401,2017-06-07,N,2017-06-07 15:17:09.320114,120,4,67,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-07
1471,2488,2530,2,$0402,2017-06-07,N,2017-06-07 15:17:10.840910,120,4,67,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-07
1472,2489,2531,2,$0601,2017-06-07,Y,2017-06-07 15:17:15.484256,120,4,67,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-07
1473,2490,2532,2,$0501,2017-06-07,A,2017-06-07 15:20:58.217153,120,4,67,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-07
1501,2518,2560,2,$0101,2017-06-08,Y,2017-06-08 14:00:00.621271,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
1502,2519,2561,2,$0201,2017-06-08,Y,2017-06-08 14:00:02.881433,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
1503,2520,2562,2,$0202,2017-06-08,Y,2017-06-08 14:00:05.422784,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
1504,2521,2563,2,$0801,2017-06-08,Y,2017-06-08 14:00:08.174129,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
1505,2522,2564,2,$0301,2017-06-08,N,2017-06-08 14:00:33.156598,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
1506,2523,2565,2,$0401,2017-06-08,N,2017-06-08 14:00:42.203120,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
1507,2524,2566,2,$0402,2017-06-08,N,2017-06-08 14:00:43.128418,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
1508,2525,2567,2,$0501,2017-06-08,Y,2017-06-08 14:00:51.437485,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
1509,2526,2568,2,$0701,2017-06-08,Y,2017-06-08 14:00:55.306646,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
1510,2527,2569,2,$0703,2017-06-08,Y,2017-06-08 14:00:56.330422,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
1511,2528,2570,2,$0601,2017-06-08,Y,2017-06-08 14:01:11.756108,120,4,71,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-08
1660,2677,2719,2,$0101,2017-06-09,Y,2017-06-09 13:55:34.485508,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
1661,2678,2720,2,$0201,2017-06-09,N,2017-06-09 13:55:36.986688,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
1662,2679,2721,2,$0203,2017-06-09,Y,2017-06-09 13:55:39.105835,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
1663,2680,2722,2,$0204,2017-06-09,Y,2017-06-09 13:55:41.756820,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
1664,2681,2723,2,$0601,2017-06-09,N,2017-06-09 13:55:44.369705,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
1665,2682,2724,2,$0301,2017-06-09,N,2017-06-09 13:55:55.216476,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
1666,2683,2725,2,$0401,2017-06-09,N,2017-06-09 13:55:59.141020,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
1667,2684,2726,2,$0402,2017-06-09,N,2017-06-09 13:56:00.147126,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
1668,2685,2727,2,$0501,2017-06-09,Y,2017-06-09 13:56:03.007290,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
1669,2686,2728,2,$0701,2017-06-09,Y,2017-06-09 13:56:07.343917,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
1670,2687,2729,2,$0703,2017-06-09,Y,2017-06-09 13:56:08.239201,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09
1671,2688,2730,2,$0801,2017-06-09,Y,2017-06-09 13:56:10.410345,120,4,72,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,2017-06-09

In [12]:
#information on the patients
df_patient.head()

,Unnamed: 0,id,hash_fin,date,checklist_id,visible_groups,los_icu,los,apache_is_completed,has_antibiotics,has_lines,has_medication,has_ventilation,workday,unit_id,user_detail_id,just_date
0,0,44,99b2749dd914e4a98ae987f37356a7df60c840c1,2017-04-26 19:40:32.087904,1,"08,07,03",3 days,3 days,1,0,1,1,0,2017-04-26,3,7,2017-04-26
1,1,45,99b2749dd914e4a98ae987f37356a7df60c840c1,2017-04-26 19:42:33.481153,1,"07,03,08",3 days,3 days,1,0,1,1,0,2017-04-26,3,7,2017-04-26
2,2,46,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-04-28 19:40:00.586307,1,"06,08,07,03",1 hour,2 days,1,1,1,1,0,2017-04-28,3,7,2017-04-28
3,3,47,517f5c02fee6304bf8f97ed13a9ce8399f44456b,2017-04-28 19:41:07.897426,1,"08,07,06,03",1 day,1 day,1,1,1,1,0,2017-04-28,3,7,2017-04-28
4,4,48,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-04-28 19:41:26.418122,1,"03,08,07,06",1 hour,2 days,1,1,1,1,0,2017-04-28,3,7,2017-04-28

In [13]:
df_patient[df_patient.hash_fin == '07e1b75fe53343221703226deb96b71bb6d90930']

,Unnamed: 0,id,hash_fin,date,checklist_id,visible_groups,los_icu,los,apache_is_completed,has_antibiotics,has_lines,has_medication,has_ventilation,workday,unit_id,user_detail_id,just_date
19,19,95,07e1b75fe53343221703226deb96b71bb6d90930,2017-05-04 18:34:07.824293,1,"01,07,08,06,03",7 days,15 days,1,1,1,1,1,2017-05-04,4,7,2017-05-04
64,64,140,07e1b75fe53343221703226deb96b71bb6d90930,2017-05-15 15:37:12.688794,1,"01,06,03,08,07",18 days,26 days,1,1,1,1,1,2017-05-15,4,69,2017-05-15
70,70,146,07e1b75fe53343221703226deb96b71bb6d90930,2017-05-16 14:57:27.915578,1,"01,06,08,03,07",19 days,27 days,1,1,1,1,1,2017-05-16,4,69,2017-05-16
87,87,163,07e1b75fe53343221703226deb96b71bb6d90930,2017-05-17 14:42:12.291822,1,"01,07,06,08,03",20 days,28 days,1,1,1,1,1,2017-05-17,4,69,2017-05-17
131,131,207,07e1b75fe53343221703226deb96b71bb6d90930,2017-05-18 15:07:32.821076,1,"01,07,06,03,08",21 days,29 days,1,1,1,1,1,2017-05-18,4,72,2017-05-18
153,153,229,07e1b75fe53343221703226deb96b71bb6d90930,2017-05-19 15:17:01.053216,1,"01,03,08,07,06",22 days,30 days,1,1,1,1,1,2017-05-19,4,71,2017-05-19
154,154,230,07e1b75fe53343221703226deb96b71bb6d90930,2017-05-19 15:19:09.764039,1,"01,03,08,07,06",22 days,30 days,1,1,1,1,1,2017-05-19,4,71,2017-05-19

In [14]:
print(df_patient_response.columns, df_patient.columns)

Index(['Unnamed: 0', 'id', 'checklist_id', 'question_id', 'workday',
       'response', 'date', 'patient_id', 'unit_id', 'user_detail_id',
       'hash_fin', 'just_date'],
      dtype='object') Index(['Unnamed: 0', 'id', 'hash_fin', 'date', 'checklist_id',
       'visible_groups', 'los_icu', 'los', 'apache_is_completed',
       'has_antibiotics', 'has_lines', 'has_medication', 'has_ventilation',
       'workday', 'unit_id', 'user_detail_id', 'just_date'],
      dtype='object')

In [15]:
#matching patients with the answers
df1 = pd.merge(df_patient_response, df_patient[['id', 'hash_fin', 'date', 'checklist_id', 'unit_id',
                                                'visible_groups', 'los_icu', 'user_detail_id', 'just_date']],            
              
               left_on=['hash_fin','user_detail_id','unit_id','checklist_id'], 
               right_on=['hash_fin', 'user_detail_id','unit_id','checklist_id'])
# df_merge_patient_response[['checklist_id_x', 'question_id_x', 'workday_x', 'response', 'date_x', 'patient_id',]]
# df_merge_patient_response.columns

In [74]:
#Please rename this, g1 has all the responses for each patient 
g = df1[df1.date_x >= df1.date_y].groupby(['hash_fin', 'id_x', 'workday'],as_index=False)#user_detail_id', 'unit_id', 'checklist_id','workday'])#['date_x', 'visible_groups']
g1 = g.apply(lambda x: x.sort_values(by='date_y', ascending=False))
g1.drop_duplicates(subset='id_x', keep='first')
g1

         Unnamed: 0  id_x  checklist_id question_id     workday response  \
0   87          935   977             1       $0101  2017-05-23        Y
1   88          936   978             1       $0201  2017-05-23        N
2   89          937   979             1       $0203  2017-05-23        N
3   90          938   980             1       $0601  2017-05-23        N
4   91          939   981             1       $0701  2017-05-23        Y
5   92          940   982             1       $0702  2017-05-23        Y
6   93          941   983             1       $0703  2017-05-23        Y
7   94          942   984             1       $0801  2017-05-23        Y
8   95          943   985             1       $0301  2017-05-23        N
9   96          944   986             1       $0401  2017-05-23        N
10  97          945   987             1       $0402  2017-05-23        Y
11  98          946   988             1       $0501  2017-05-23        Y
12  100        1097  1139             1       $0101  2017-05-24        Y
    99         1097  1139             1       $0101  2017-05-24        Y
13  102        1098  1140             1       $0201  2017-05-24        N
    101        1098  1140             1       $0201  2017-05-24        N
14  104        1099  1141             1       $0801  2017-05-24        Y
    103        1099  1141             1       $0801  2017-05-24        Y
15  106        1100  1142             1       $0301  2017-05-24        N
    105        1100  1142             1       $0301  2017-05-24        N
16  108        1101  1143             1       $0401  2017-05-24        N
    107        1101  1143             1       $0401  2017-05-24        N
17  110        1102  1144             1       $0402  2017-05-24        Y
    109        1102  1144             1       $0402  2017-05-24        Y
18  112        1103  1145             1       $0501  2017-05-24        N
    111        1103  1145             1       $0501  2017-05-24        N
19  114        1104  1146             1       $0701  2017-05-24        N
    113        1104  1146             1       $0701  2017-05-24        N
20  116        1105  1147             1       $0703  2017-05-24        N
    115        1105  1147             1       $0703  2017-05-24        N
...             ...   ...           ...         ...         ...      ...
293 561        3361  3403             2       $0801  2017-06-15        Y
294 562        3362  3404             2       $0301  2017-06-15        N
295 563        3364  3406             2       $0401  2017-06-15        N
296 564        3365  3407             2       $0402  2017-06-15        N
297 565        3367  3409             2       $0501  2017-06-15        Y
298 566        3368  3410             2       $0601  2017-06-15        N
299 583        3636  3678             2       $0601  2017-06-16        Y
300 584        3637  3679             2       $0301  2017-06-16        N
301 585        3638  3680             2       $0401  2017-06-16        N
302 586        3639  3681             2       $0402  2017-06-16        N
303 587        3640  3682             2       $0501  2017-06-16        Y
304 588        3641  3683             2       $0701  2017-06-16        Y
305 589        3642  3684             2       $0703  2017-06-16        Y
306 590        3643  3685             2       $0801  2017-06-16        Y
307 567        3881  3923             2       $0701  2017-06-18        Y
308 568        3882  3924             2       $0703  2017-06-18        Y
309 569        3883  3925             2       $0801  2017-06-18        Y
310 570        3884  3926             2       $0301  2017-06-18        N
311 571        3885  3927             2       $0401  2017-06-18        N
312 572        3886  3928             2       $0402  2017-06-18        N
313 573        3887  3929             2       $0501  2017-06-18        Y
314 574        3888  3930             2       $0601  2017-06-18        N
315 575        4373  4415             2       $0601  2017-06-20        N
316 576        4374  4416             2       $0801  2017-06-20        Y
317 577        4375  4417             2       $0701  2017-06-20        Y
318 578        4376  4418             2       $0703  2017-06-20        Y
319 579        4377  4419             2       $0301  2017-06-20        N
320 580        4378  4420             2       $0401  2017-06-20        N
321 581        4379  4421             2       $0402  2017-06-20        Y
322 582        4380  4422             2       $0501  2017-06-20        A

                             date_x  patient_id  unit_id  user_detail_id  \
0   87   2017-05-23 14:54:07.267612          95        4              72
1   88   2017-05-23 14:54:08.838137          95        4              72
2   89   2017-05-23 14:54:11.885950          95        4              72
3   90   2017-05-23 14:54:14.358476          95        4              72
4   91   2017-05-23 14:54:25.799800          95        4              72
5   92   2017-05-23 14:54:20.571559          95        4              72
6   93   2017-05-23 14:54:28.054966          95        4              72
7   94   2017-05-23 14:54:30.321690          95        4              72
8   95   2017-05-23 14:54:32.821528          95        4              72
9   96   2017-05-23 14:54:33.801111          95        4              72
10  97   2017-05-23 14:54:34.921869          95        4              72
11  98   2017-05-23 14:54:39.906370          95        4              72
12  100  2017-05-24 14:43:31.676363          95        4              71
    99   2017-05-24 14:43:31.676363          95        4              71
13  102  2017-05-24 14:43:33.815084          95        4              71
    101  2017-05-24 14:43:33.815084          95        4              71
14  104  2017-05-24 14:43:37.648974          95        4              71
    103  2017-05-24 14:43:37.648974          95        4              71
15  106  2017-05-24 14:43:41.934523          95        4              71
    105  2017-05-24 14:43:41.934523          95        4              71
16  108  2017-05-24 14:43:42.949389          95        4              71
    107  2017-05-24 14:43:42.949389          95        4              71
17  110  2017-05-24 14:43:44.649714          95        4              71
    109  2017-05-24 14:43:44.649714          95        4              71
18  112  2017-05-24 14:43:50.632827          95        4              71
    111  2017-05-24 14:43:50.632827          95        4              71
19  114  2017-05-24 14:44:07.422686          95        4              71
    113  2017-05-24 14:44:07.422686          95        4              71
20  116  2017-05-24 14:44:10.087766          95        4              71
    115  2017-05-24 14:44:10.087766          95        4              71
...                             ...         ...      ...             ...
293 561  2017-06-15 14:44:54.348697         164        4              72
294 562  2017-06-15 14:44:59.131307         164        4              72
295 563  2017-06-15 14:45:08.968786         164        4              72
296 564  2017-06-15 14:45:09.668834         164        4              72
297 565  2017-06-15 14:45:15.834308         164        4              72
298 566  2017-06-15 14:45:21.135190         164        4              72
299 583  2017-06-16 16:49:06.074691         164        4              67
300 584  2017-06-16 16:49:39.594996         164        4              67
301 585  2017-06-16 16:49:42.924365         164        4              67
302 586  2017-06-16 16:49:49.396817         164        4              67
303 587  2017-06-16 16:50:23.118621         164        4              67
304 588  2017-06-16 16:50:28.112956         164        4              67
305 589  2017-06-16 16:50:28.750141         164        4              67
306 590  2017-06-16 16:50:31.226081         164        4              67
307 567  2017-06-18 14:40:22.733226         164        4              72
308 568  2017-06-18 14:40:23.866083         164        4              72
309 569  2017-06-18 14:40:26.382861         164        4              72
310 570  2017-06-18 14:40:29.232229         164        4              72
311 571  2017-06-18 14:40:31.349110         164        4              72
312 572  2017-06-18 14:40:36.403207         164        4              72
313 573  2017-06-18 14:40:38.313886         164        4              72
314 574  2017-06-18 14:40:43.001730         164        4              72
315 575  2017-06-20 17:53:24.636609         164        4              72
316 576  2017-06-20 17:53:27.039936         164        4              72
317 577  2017-06-20 17:53:29.006017         164        4              72
318 578  2017-06-20 17:53:29.671060         164        4              72
319 579  2017-06-20 17:53:31.690707         164        4              72
320 580  2017-06-20 17:53:32.623407         164        4              72
321 581  2017-06-20 17:53:34.723300         164        4              72
322 582  2017-06-20 17:53:45.359975         164        4              72

                                         hash_fin just_date_x  id_y  \
0   87   07e1b75fe53343221703226deb96b71bb6d90930  2017-05-23   207
1   88   07e1b75fe53343221703226deb96b71bb6d90930  2017-05-23   207
2   89   07e1b75fe53343221703226deb96b71bb6d90930  2017-05-23   207
3   90   07e1b75fe53343221703226deb96b71bb6d90930  2017-05-23   207
4   91   07e1b75fe53343221703226deb96b71bb6d90930  2017-05-23   207
5   92   07e1b75fe53343221703226deb96b71bb6d90930  2017-05-23   207
6   93   07e1b75fe53343221703226deb96b71bb6d90930  2017-05-23   207
7   94   07e1b75fe53343221703226deb96b71bb6d90930  2017-05-23   207
8   95   07e1b75fe53343221703226deb96b71bb6d90930  2017-05-23   207
9   96   07e1b75fe53343221703226deb96b71bb6d90930  2017-05-23   207
10  97   07e1b75fe53343221703226deb96b71bb6d90930  2017-05-23   207
11  98   07e1b75fe53343221703226deb96b71bb6d90930  2017-05-23   207
12  100  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   230
    99   07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   229
13  102  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   230
    101  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   229
14  104  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   230
    103  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   229
15  106  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   230
    105  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   229
16  108  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   230
    107  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   229
17  110  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   230
    109  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   229
18  112  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   230
    111  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   229
19  114  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   230
    113  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   229
20  116  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   230
    115  07e1b75fe53343221703226deb96b71bb6d90930  2017-05-24   229
...                                           ...         ...   ...
293 561  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-15   356
294 562  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-15   356
295 563  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-15   356
296 564  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-15   356
297 565  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-15   356
298 566  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-15   356
299 583  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-16   372
300 584  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-16   372
301 585  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-16   372
302 586  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-16   372
303 587  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-16   372
304 588  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-16   372
305 589  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-16   372
306 590  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-16   372
307 567  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-18   356
308 568  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-18   356
309 569  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-18   356
310 570  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-18   356
311 571  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-18   356
312 572  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-18   356
313 573  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-18   356
314 574  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-18   356
315 575  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-20   356
316 576  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-20   356
317 577  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-20   356
318 578  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-20   356
319 579  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-20   356
320 580  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-20   356
321 581  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-20   356
322 582  f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89  2017-06-20   356

                             date_y  visible_groups  los_icu just_date_y
0   87   2017-05-18 15:07:32.821076  01,07,06,03,08  21 days  2017-05-18
1   88   2017-05-18 15:07:32.821076  01,07,06,03,08  21 days  2017-05-18
2   89   2017-05-18 15:07:32.821076  01,07,06,03,08  21 days  2017-05-18
3   90   2017-05-18 15:07:32.821076  01,07,06,03,08  21 days  2017-05-18
4   91   2017-05-18 15:07:32.821076  01,07,06,03,08  21 days  2017-05-18
5   92   2017-05-18 15:07:32.821076  01,07,06,03,08  21 days  2017-05-18
6   93   2017-05-18 15:07:32.821076  01,07,06,03,08  21 days  2017-05-18
7   94   2017-05-18 15:07:32.821076  01,07,06,03,08  21 days  2017-05-18
8   95   2017-05-18 15:07:32.821076  01,07,06,03,08  21 days  2017-05-18
9   96   2017-05-18 15:07:32.821076  01,07,06,03,08  21 days  2017-05-18
10  97   2017-05-18 15:07:32.821076  01,07,06,03,08  21 days  2017-05-18
11  98   2017-05-18 15:07:32.821076  01,07,06,03,08  21 days  2017-05-18
12  100  2017-05-19 15:19:09.764039  01,03,08,07,06  22 days  2017-05-19
    99   2017-05-19 15:17:01.053216  01,03,08,07,06  22 days  2017-05-19
13  102  2017-05-19 15:19:09.764039  01,03,08,07,06  22 days  2017-05-19
    101  2017-05-19 15:17:01.053216  01,03,08,07,06  22 days  2017-05-19
14  104  2017-05-19 15:19:09.764039  01,03,08,07,06  22 days  2017-05-19
    103  2017-05-19 15:17:01.053216  01,03,08,07,06  22 days  2017-05-19
15  106  2017-05-19 15:19:09.764039  01,03,08,07,06  22 days  2017-05-19
    105  2017-05-19 15:17:01.053216  01,03,08,07,06  22 days  2017-05-19
16  108  2017-05-19 15:19:09.764039  01,03,08,07,06  22 days  2017-05-19
    107  2017-05-19 15:17:01.053216  01,03,08,07,06  22 days  2017-05-19
17  110  2017-05-19 15:19:09.764039  01,03,08,07,06  22 days  2017-05-19
    109  2017-05-19 15:17:01.053216  01,03,08,07,06  22 days  2017-05-19
18  112  2017-05-19 15:19:09.764039  01,03,08,07,06  22 days  2017-05-19
    111  2017-05-19 15:17:01.053216  01,03,08,07,06  22 days  2017-05-19
19  114  2017-05-19 15:19:09.764039  01,03,08,07,06  22 days  2017-05-19
    113  2017-05-19 15:17:01.053216  01,03,08,07,06  22 days  2017-05-19
20  116  2017-05-19 15:19:09.764039  01,03,08,07,06  22 days  2017-05-19
    115  2017-05-19 15:17:01.053216  01,03,08,07,06  22 days  2017-05-19
...                             ...             ...      ...         ...
293 561  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
294 562  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
295 563  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
296 564  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
297 565  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
298 566  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
299 583  2017-05-27 15:35:33.335341  01,03,06,07,08  16 days  2017-05-27
300 584  2017-05-27 15:35:33.335341  01,03,06,07,08  16 days  2017-05-27
301 585  2017-05-27 15:35:33.335341  01,03,06,07,08  16 days  2017-05-27
302 586  2017-05-27 15:35:33.335341  01,03,06,07,08  16 days  2017-05-27
303 587  2017-05-27 15:35:33.335341  01,03,06,07,08  16 days  2017-05-27
304 588  2017-05-27 15:35:33.335341  01,03,06,07,08  16 days  2017-05-27
305 589  2017-05-27 15:35:33.335341  01,03,06,07,08  16 days  2017-05-27
306 590  2017-05-27 15:35:33.335341  01,03,06,07,08  16 days  2017-05-27
307 567  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
308 568  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
309 569  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
310 570  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
311 571  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
312 572  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
313 573  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
314 574  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
315 575  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
316 576  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
317 577  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
318 578  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
319 579  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
320 580  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
321 581  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26
322 582  2017-05-26 16:15:49.330256  01,06,08,07,03  15 days  2017-05-26

[609 rows x 17 columns]

# Specific Categories

Yeah, so they want to look at three specific questions: 1) DVT, 2) Lines (specifically central lines if their version has it split into peripheral and central), 3) Foleys


[2:01] 
I think for each question, what they want to know is: for each week, 1) how many patients total were the questions answered, 2) for the patients where it was answered, what are the proportions of the different answers, 3) for patients where the 'bad' answer was given initially (no we can't discontinue the foley, no we can't pull the line, etc), how many days did they spend in the 'bad' answer category before switching to the 'good' category. [Taking into account where it was contraindicated]


[2:02] 
they want to see it because they measure all these things by another method (probably nursing reports) and they want to see if those two sources (us vs nursing reports) have any differences

In [84]:
df_tmetryentry[(pd.to_datetime(df_tmetryentry.just_date)>=cutoff_lst[4]) &(pd.to_datetime(df_tmetryentry.just_date)<cutoff_lst[5])]['strValue'].unique()

array(['cstrebin', nan, 'theeren',
       'b7a0edbb7717b8cd2235f87e6d73ea74073e400d', '08', '07', '06', '03',
       'e899dc55a23a0a8c01769c5a56f03dc4e9f17505', '01',
       '6ee5b072c8014dca95fc5b5501ba7f7f1d3514c7',
       '9d6ee4bf3b61e3656bae1f8845f7736b5eff9db3',
       '8fab61d31d1462a082e55783441fd54663904665', 'linesFood',
       'a561b67d55fb75d65ad4dabe8e0f9ed7d7749dd7', 'dvt',
       '0345b17b7ecb39019a79c591d592a4856fff5839',
       '3dd0a925afd608e7b10e9a74af260825423e3e86',
       'e75101af0ff2b46742473dc93d4408dd0a6fbc0c',
       '0263d40ce7ca75676a310008a9ce8a3d4e48b517',
       'f738cc5a32b7fde9547403f46781b4ac7b26f1c2',
       '44eb14a4e39dc68178a882726d946704a807d031',
       '9ff6cb7ff05b8cbf9342a0102bce5c43ed35e3af',
       '0246d013c22cfb04b4f78e48c69d6457549150fe',
       'ccb48b9d976321bab7ef53af92b6efca2a5c5ba6', 'antibiotics',
       'nm177725', 'jesturne', '4b26f669fb77d4a8fca62df8bab6569bd076c1ae',
       '10', 'd9c65fc5beeece19a369fbb48caeedd2d2863c9d',
       'f90d8aefab40f7438ae36a1b0b752628285d0b4d',
       'cef898087a8592543ab00c708c052af470e5b8d2',
       'ae339513cc32c3afdf3b4dce46ff5fc06dd8c8c6',
       '7e0bc3999e56307cc43fc8041f0411a624e1c5a0',
       '1f16e18e27bc1faa36eaecf004218bba00acd13c',
       '083f07719f4c8dbafd2699850de37e8a5f1ce8bc',
       'af6e895447661cb51430e446771af2894688c82f',
       '44747e2e58b89022ca05b537cd284704d68ca287',
       'e5210fdefac00959dc433effc5c3dcdd9e00b4aa',
       'e7a59e126ecc39bd0f5565c51735efbc68032d91',
       '2d567524b65a9829c18a0da1c27d551918f47e0b',
       'cbb26e838ecb979064052edc0f78c2efab44e4d4',
       'ea3519ce50f5c7e494ac54be7a272535454ecf7a',
       '5f142e762556c6927fb6f14e9d9d4bd880d2e701',
       'bf7151bad4d9b34ffd06de85cf834570b687d959', 'nm177719',
       'e1dfae9af3f3c5265679e34ece097bf09efda20c',
       'df05b3debdb135f2d8f4aa9f8ea82414126bf3bd', 'akhosrav'], dtype=object)

In [75]:
g1['workday'] = pd.to_datetime(g1['workday'])

In [81]:
cutoff_lst

[Timestamp('2017-05-22 00:00:00'),
 Timestamp('2017-05-29 00:00:00'),
 Timestamp('2017-06-05 00:00:00'),
 Timestamp('2017-06-12 00:00:00'),
 Timestamp('2017-06-19 00:00:00'),
 Timestamp('2017-06-26 00:00:00'),
 Timestamp('2017-07-03 00:00:00')]

In [80]:
g1[(g1.workday>=cutoff_lst[2]) &(g1.workday<cutoff_lst[3])]['hash_fin'].unique()

array(['2265516f326cf9ea002bfd4a21dc122a63e0e380',
       '7a2306cbdeb6c8d6087279f0df15bbfdb3df0218'], dtype=object)

In [76]:
#create list of unique workdays
workday_lst = sorted(list(set(g1.workday)))

#group by week/date
#need to establish week cutoffs, first day is May 22, 2017 - Monday - Sunday
#start day
start_day = pd.Timestamp('2017-05-22 00:00:00')
cutoff_lst = [start_day]
tester = True

while tester==True:
    #add 7 days to it, check to see if it's after the last workday
    newday = cutoff_lst[-1]+pd.Timedelta(days=7)
    
    if newday >= workday_lst[-1]:
        cutoff_lst.append(newday)
        tester=False
    else:
        cutoff_lst.append(newday)


#filter the df based on the week
#go through each patient - check if visible group has it
week_df = g1[(g1.workday>=cutoff_lst[4]) &(g1.workday<cutoff_lst[5])& (g1.visible_groups.str.contains('03'))]
#need to get unique pairings of patient and workday
week_ptdt = list(set(zip(week_df.hash_fin, week_df.workday)))

print(week_ptdt)
print()

#find out how many pts were answered
answered_df = week_df[week_df.question_id=='$0401']
answered_ptdt = list(set(zip(answered_df.hash_fin, answered_df.workday, answered_df.question_id)))
print(answered_ptdt)

#if answered, what was the answer

[('7a2306cbdeb6c8d6087279f0df15bbfdb3df0218', Timestamp('2017-06-20 00:00:00')), ('7a2306cbdeb6c8d6087279f0df15bbfdb3df0218', Timestamp('2017-06-21 00:00:00')), ('f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89', Timestamp('2017-06-20 00:00:00')), ('7a2306cbdeb6c8d6087279f0df15bbfdb3df0218', Timestamp('2017-06-19 00:00:00')), ('7a2306cbdeb6c8d6087279f0df15bbfdb3df0218', Timestamp('2017-06-25 00:00:00'))]

[('f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89', Timestamp('2017-06-20 00:00:00'), '$0401'), ('7a2306cbdeb6c8d6087279f0df15bbfdb3df0218', Timestamp('2017-06-25 00:00:00'), '$0401'), ('7a2306cbdeb6c8d6087279f0df15bbfdb3df0218', Timestamp('2017-06-21 00:00:00'), '$0401'), ('7a2306cbdeb6c8d6087279f0df15bbfdb3df0218', Timestamp('2017-06-19 00:00:00'), '$0401'), ('7a2306cbdeb6c8d6087279f0df15bbfdb3df0218', Timestamp('2017-06-20 00:00:00'), '$0401')]

In [43]:
week_df

                                                              Unnamed: 0  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 977  2017-05-23 87          935
                                         978  2017-05-23 88          936
                                         979  2017-05-23 89          937
                                         980  2017-05-23 90          938
                                         981  2017-05-23 91          939
                                         982  2017-05-23 92          940
                                         983  2017-05-23 93          941
                                         984  2017-05-23 94          942
                                         985  2017-05-23 95          943
                                         986  2017-05-23 96          944
                                         987  2017-05-23 97          945
                                         988  2017-05-23 98          946
                                         1139 2017-05-24 100        1097
                                                         99         1097
                                         1140 2017-05-24 102        1098
                                                         101        1098
                                         1141 2017-05-24 104        1099
                                                         103        1099
                                         1142 2017-05-24 106        1100
                                                         105        1100
                                         1143 2017-05-24 108        1101
                                                         107        1101
                                         1144 2017-05-24 110        1102
                                                         109        1102
                                         1145 2017-05-24 112        1103
                                                         111        1103
                                         1146 2017-05-24 114        1104
                                                         113        1104
                                         1147 2017-05-24 116        1105
                                                         115        1105
...                                                                  ...
                                         1151 2017-05-24 119        1109
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 868  2017-05-22 24          826
                                         869  2017-05-22 27          827
                                         870  2017-05-22 30          828
                                         871  2017-05-22 33          829
                                         872  2017-05-22 36          830
                                         873  2017-05-22 39          831
                                         874  2017-05-22 42          832
                                         875  2017-05-22 45          833
                                         876  2017-05-22 48          834
                                         877  2017-05-22 51          835
                                         888  2017-05-22 54          846
                                         889  2017-05-22 57          847
                                         891  2017-05-22 60          849
                                         1205 2017-05-24 64         1163
                                                         63         1163
                                         1206 2017-05-24 67         1164
                                                         66         1164
                                         1207 2017-05-24 70         1165
                                                         69         1165
                                         1208 2017-05-24 73         1166
                                                         72         1166
                                         1209 2017-05-24 76         1167
                                                         75         1167
                                         1210 2017-05-24 79         1168
                                                         78         1168
                                         1211 2017-05-24 82         1169
                                                         81         1169
                                         1212 2017-05-24 85         1170
                                                         84         1170

                                                              id_x  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 977  2017-05-23 87    977
                                         978  2017-05-23 88    978
                                         979  2017-05-23 89    979
                                         980  2017-05-23 90    980
                                         981  2017-05-23 91    981
                                         982  2017-05-23 92    982
                                         983  2017-05-23 93    983
                                         984  2017-05-23 94    984
                                         985  2017-05-23 95    985
                                         986  2017-05-23 96    986
                                         987  2017-05-23 97    987
                                         988  2017-05-23 98    988
                                         1139 2017-05-24 100  1139
                                                         99   1139
                                         1140 2017-05-24 102  1140
                                                         101  1140
                                         1141 2017-05-24 104  1141
                                                         103  1141
                                         1142 2017-05-24 106  1142
                                                         105  1142
                                         1143 2017-05-24 108  1143
                                                         107  1143
                                         1144 2017-05-24 110  1144
                                                         109  1144
                                         1145 2017-05-24 112  1145
                                                         111  1145
                                         1146 2017-05-24 114  1146
                                                         113  1146
                                         1147 2017-05-24 116  1147
                                                         115  1147
...                                                            ...
                                         1151 2017-05-24 119  1151
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 868  2017-05-22 24    868
                                         869  2017-05-22 27    869
                                         870  2017-05-22 30    870
                                         871  2017-05-22 33    871
                                         872  2017-05-22 36    872
                                         873  2017-05-22 39    873
                                         874  2017-05-22 42    874
                                         875  2017-05-22 45    875
                                         876  2017-05-22 48    876
                                         877  2017-05-22 51    877
                                         888  2017-05-22 54    888
                                         889  2017-05-22 57    889
                                         891  2017-05-22 60    891
                                         1205 2017-05-24 64   1205
                                                         63   1205
                                         1206 2017-05-24 67   1206
                                                         66   1206
                                         1207 2017-05-24 70   1207
                                                         69   1207
                                         1208 2017-05-24 73   1208
                                                         72   1208
                                         1209 2017-05-24 76   1209
                                                         75   1209
                                         1210 2017-05-24 79   1210
                                                         78   1210
                                         1211 2017-05-24 82   1211
                                                         81   1211
                                         1212 2017-05-24 85   1212
                                                         84   1212

                                                              checklist_id  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 977  2017-05-23 87              1
                                         978  2017-05-23 88              1
                                         979  2017-05-23 89              1
                                         980  2017-05-23 90              1
                                         981  2017-05-23 91              1
                                         982  2017-05-23 92              1
                                         983  2017-05-23 93              1
                                         984  2017-05-23 94              1
                                         985  2017-05-23 95              1
                                         986  2017-05-23 96              1
                                         987  2017-05-23 97              1
                                         988  2017-05-23 98              1
                                         1139 2017-05-24 100             1
                                                         99              1
                                         1140 2017-05-24 102             1
                                                         101             1
                                         1141 2017-05-24 104             1
                                                         103             1
                                         1142 2017-05-24 106             1
                                                         105             1
                                         1143 2017-05-24 108             1
                                                         107             1
                                         1144 2017-05-24 110             1
                                                         109             1
                                         1145 2017-05-24 112             1
                                                         111             1
                                         1146 2017-05-24 114             1
                                                         113             1
                                         1147 2017-05-24 116             1
                                                         115             1
...                                                                    ...
                                         1151 2017-05-24 119             1
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 868  2017-05-22 24              1
                                         869  2017-05-22 27              1
                                         870  2017-05-22 30              1
                                         871  2017-05-22 33              1
                                         872  2017-05-22 36              1
                                         873  2017-05-22 39              1
                                         874  2017-05-22 42              1
                                         875  2017-05-22 45              1
                                         876  2017-05-22 48              1
                                         877  2017-05-22 51              1
                                         888  2017-05-22 54              1
                                         889  2017-05-22 57              1
                                         891  2017-05-22 60              1
                                         1205 2017-05-24 64              1
                                                         63              1
                                         1206 2017-05-24 67              1
                                                         66              1
                                         1207 2017-05-24 70              1
                                                         69              1
                                         1208 2017-05-24 73              1
                                                         72              1
                                         1209 2017-05-24 76              1
                                                         75              1
                                         1210 2017-05-24 79              1
                                                         78              1
                                         1211 2017-05-24 82              1
                                                         81              1
                                         1212 2017-05-24 85              1
                                                         84              1

                                                             question_id  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 977  2017-05-23 87        $0101
                                         978  2017-05-23 88        $0201
                                         979  2017-05-23 89        $0203
                                         980  2017-05-23 90        $0601
                                         981  2017-05-23 91        $0701
                                         982  2017-05-23 92        $0702
                                         983  2017-05-23 93        $0703
                                         984  2017-05-23 94        $0801
                                         985  2017-05-23 95        $0301
                                         986  2017-05-23 96        $0401
                                         987  2017-05-23 97        $0402
                                         988  2017-05-23 98        $0501
                                         1139 2017-05-24 100       $0101
                                                         99        $0101
                                         1140 2017-05-24 102       $0201
                                                         101       $0201
                                         1141 2017-05-24 104       $0801
                                                         103       $0801
                                         1142 2017-05-24 106       $0301
                                                         105       $0301
                                         1143 2017-05-24 108       $0401
                                                         107       $0401
                                         1144 2017-05-24 110       $0402
                                                         109       $0402
                                         1145 2017-05-24 112       $0501
                                                         111       $0501
                                         1146 2017-05-24 114       $0701
                                                         113       $0701
                                         1147 2017-05-24 116       $0703
                                                         115       $0703
...                                                                  ...
                                         1151 2017-05-24 119       $0702
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 868  2017-05-22 24        $0201
                                         869  2017-05-22 27        $0203
                                         870  2017-05-22 30        $0701
                                         871  2017-05-22 33        $0702
                                         872  2017-05-22 36        $0703
                                         873  2017-05-22 39        $0401
                                         874  2017-05-22 42        $0402
                                         875  2017-05-22 45        $0501
                                         876  2017-05-22 48        $0801
                                         877  2017-05-22 51        $0601
                                         888  2017-05-22 54        $0101
                                         889  2017-05-22 57        $0102
                                         891  2017-05-22 60        $0301
                                         1205 2017-05-24 64        $0301
                                                         63        $0301
                                         1206 2017-05-24 67        $0401
                                                         66        $0401
                                         1207 2017-05-24 70        $0402
                                                         69        $0402
                                         1208 2017-05-24 73        $0501
                                                         72        $0501
                                         1209 2017-05-24 76        $0801
                                                         75        $0801
                                         1210 2017-05-24 79        $0701
                                                         78        $0701
                                         1211 2017-05-24 82        $0703
                                                         81        $0703
                                         1212 2017-05-24 85        $0601
                                                         84        $0601

                                                                workday  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 977  2017-05-23 87  2017-05-23
                                         978  2017-05-23 88  2017-05-23
                                         979  2017-05-23 89  2017-05-23
                                         980  2017-05-23 90  2017-05-23
                                         981  2017-05-23 91  2017-05-23
                                         982  2017-05-23 92  2017-05-23
                                         983  2017-05-23 93  2017-05-23
                                         984  2017-05-23 94  2017-05-23
                                         985  2017-05-23 95  2017-05-23
                                         986  2017-05-23 96  2017-05-23
                                         987  2017-05-23 97  2017-05-23
                                         988  2017-05-23 98  2017-05-23
                                         1139 2017-05-24 100 2017-05-24
                                                         99  2017-05-24
                                         1140 2017-05-24 102 2017-05-24
                                                         101 2017-05-24
                                         1141 2017-05-24 104 2017-05-24
                                                         103 2017-05-24
                                         1142 2017-05-24 106 2017-05-24
                                                         105 2017-05-24
                                         1143 2017-05-24 108 2017-05-24
                                                         107 2017-05-24
                                         1144 2017-05-24 110 2017-05-24
                                                         109 2017-05-24

In [44]:
answered_df

                                                              Unnamed: 0  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95          943
                                         1142 2017-05-24 106        1100
                                                         105        1100
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60          849
                                         1205 2017-05-24 64         1163
                                                         63         1163

                                                              id_x  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95    985
                                         1142 2017-05-24 106  1142
                                                         105  1142
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60    891
                                         1205 2017-05-24 64   1205
                                                         63   1205

                                                              checklist_id  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95              1
                                         1142 2017-05-24 106             1
                                                         105             1
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60              1
                                         1205 2017-05-24 64              1
                                                         63              1

                                                             question_id  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95        $0301
                                         1142 2017-05-24 106       $0301
                                                         105       $0301
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60        $0301
                                         1205 2017-05-24 64        $0301
                                                         63        $0301

                                                                workday  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95  2017-05-23
                                         1142 2017-05-24 106 2017-05-24
                                                         105 2017-05-24
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60  2017-05-22
                                         1205 2017-05-24 64  2017-05-24
                                                         63  2017-05-24

                                                             response  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95         N
                                         1142 2017-05-24 106        N
                                                         105        N
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60         N
                                         1205 2017-05-24 64         Y
                                                         63         Y

                                                                                  date_x  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95   2017-05-23 14:54:32.821528
                                         1142 2017-05-24 106  2017-05-24 14:43:41.934523
                                                         105  2017-05-24 14:43:41.934523
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60   2017-05-22 14:24:01.505722
                                         1205 2017-05-24 64   2017-05-24 15:44:38.372581
                                                         63   2017-05-24 15:44:38.372581

                                                              patient_id  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95           95
                                         1142 2017-05-24 106          95
                                                         105          95
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60           90
                                         1205 2017-05-24 64          104
                                                         63          104

                                                              unit_id  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95         4
                                         1142 2017-05-24 106        4
                                                         105        4
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60         4
                                         1205 2017-05-24 64         4
                                                         63         4

                                                              user_detail_id  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95               72
                                         1142 2017-05-24 106              71
                                                         105              71
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60               71
                                         1205 2017-05-24 64               71
                                                         63               71

                                                                                              hash_fin  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95   07e1b75fe53343221703226deb96b71bb6d90930
                                         1142 2017-05-24 106  07e1b75fe53343221703226deb96b71bb6d90930
                                                         105  07e1b75fe53343221703226deb96b71bb6d90930
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60   7a2306cbdeb6c8d6087279f0df15bbfdb3df0218
                                         1205 2017-05-24 64   7a2306cbdeb6c8d6087279f0df15bbfdb3df0218
                                                         63   7a2306cbdeb6c8d6087279f0df15bbfdb3df0218

                                                             just_date_x  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95   2017-05-23
                                         1142 2017-05-24 106  2017-05-24
                                                         105  2017-05-24
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60   2017-05-22
                                         1205 2017-05-24 64   2017-05-24
                                                         63   2017-05-24

                                                              id_y  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95    207
                                         1142 2017-05-24 106   230
                                                         105   229
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60    228
                                         1205 2017-05-24 64    281
                                                         63    228

                                                                                  date_y  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95   2017-05-18 15:07:32.821076
                                         1142 2017-05-24 106  2017-05-19 15:19:09.764039
                                                         105  2017-05-19 15:17:01.053216
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60   2017-05-19 15:14:09.959278
                                         1205 2017-05-24 64   2017-05-22 15:03:06.201042
                                                         63   2017-05-19 15:14:09.959278

                                                              visible_groups  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95   01,07,06,03,08
                                         1142 2017-05-24 106  01,03,08,07,06
                                                         105  01,03,08,07,06
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60      03,08,06,07
                                         1205 2017-05-24 64      06,07,08,03
                                                         63      03,08,06,07

                                                              los_icu  \
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95   21 days
                                         1142 2017-05-24 106  22 days
                                                         105  22 days
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60   36 days
                                         1205 2017-05-24 64   39 days
                                                         63   36 days

                                                             just_date_y
hash_fin                                 id_x workday
07e1b75fe53343221703226deb96b71bb6d90930 985  2017-05-23 95   2017-05-18
                                         1142 2017-05-24 106  2017-05-19
                                                         105  2017-05-19
7a2306cbdeb6c8d6087279f0df15bbfdb3df0218 891  2017-05-22 60   2017-05-19
                                         1205 2017-05-24 64   2017-05-22
                                                         63   2017-05-19

# 1 backendLogin = 1
2 cernerObtainToken = 2
3 cernerAuthenticate = 3
4 selectUnit = 4
5 login = 5
6 patientList = 6
7 patientDetail = 7

ACTIONS

0 error = 0
   
# beaconTimer
101 beaconStatus = 101

# backendLogin
201 challenge = 201
202 challengeError = 202
203 challengeAccepted = 203
204 connecting = 204
205 logged = 205
206 logout = 206
   
# cernerAuthenticate
301 obtained = 301
302 authenticating = 302
303 authenticated = 303
   
# selectUnit
401 selected = 401
   
# patientList & patientDetail
501 help = 501
502 loaded = 502
503 loadError = 503
   
# patientList
601 refresh = 601
602 selectPatient = 602
   
# patientDetail
701 answer = 701
702 showGroup = 702
703 EMRInfoHidden = 703
704 EMRInfoExpanded = 704

# NSICU (unit 3)
01 ventilatorWeaning 

03 linesFood 

06 antibiotics 

07 dvt 

08 pressureUlcer 

10 NO 

### CTICU (unit 4)
01 ventilatorWeaning 

03 linesFood 

06 antibiotics 

07 dvt 

08 pressureUlcer 

10 NO

In [73]:
checklist_query = "select * from backend_v10_checklist"
df_checklist = pd.read_sql(checklist_query, conn)
df_checklist

,id,public_id,name,text,in_production,unit_id
0,2,20,Test,"{""id"": ""20"", ""groups"": [{""id"": ""01"", ""dependen...",1,1
1,5,1,Initial checklist,"{""order"": ""(01,{03|06|07|08},10)"", ""id"": ""1"", ...",1,3
2,10,1,Initial checklist,"{""order"": ""(01,{03|06|07|08},10)"", ""id"": ""1"", ...",1,4
3,11,4,No ARDS with N/A (lowercase),"{""order"": ""(01,{03|06|07|08},10)"", ""groups"": [...",1,8
4,12,100,Leigh Wild Checklist,"{""order"": ""(01,{03|06|07|08},10)"", ""groups"": [...",1,8
5,13,2,Initial checklist with tracheostomy question,"{""description"": ""Initial checklist with trache...",1,3
6,14,2,Initial checklist with tracheostomy question,"{""description"": ""Initial checklist with trache...",1,4

In [94]:
import ast
unit3_2 =ast.literal_eval(df_checklist.text[2])
unit3_1=ast.literal_eval(df_checklist.text[6])

In [95]:
for key, val in unit3_1.items():
    print(key, val, type(val),len(val))
    print()

id 2 <class 'str'> 1

order (01,{03|06|07|08},10) <class 'str'> 21

groups [{'emrInfoId': 'ventilatorWeaning', 'sections': [{'id': '$0100', 'title': 'Sedation:', 'dependence': 'hasMedication', 'questions': [{'text': 'Has a sedation awakening trial (SAT) been performed today?', 'id': '$0101', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}, {'text': 'Is it appropriate to perform an SAT today?', 'id': '$0102', 'dependence': "$0101=='N'", 'indentation': 0, 'questionType': 'A'}]}, {'id': '$0200', 'title': 'Ventilator weaning:', 'dependence': 'hasVentilation', 'questions': [{'text': 'Has a spontaneous breathing trial (SBT) been performed today?', 'id': '$0201', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}, {'text': 'Can the patient be extubated today?', 'id': '$0202', 'dependence': "$0201=='Y'", 'indentation': 0, 'questionType': 'Q'}, {'text': 'Does the patient have a tracheostomy or is scheduled for tracheostomy placement?', 'id': '$0205', 'dependence': "$0201=='Y' and $0202=='N'", 'indentation': 0, 'questionType': 'Q'}, {'text': 'Is it appropriate to perform an SBT today?', 'id': '$0203', 'dependence': "$0201=='N'", 'indentation': 0, 'questionType': 'Q'}, {'text': 'Can the patient be extubated today?', 'id': '$0204', 'dependence': "$0201=='N' and $0203=='Y'", 'indentation': 0, 'questionType': 'Q'}, {'text': 'Does the patient have a tracheostomy or is scheduled for tracheostomy placement?', 'id': '$0206', 'dependence': "$0201=='N' and $0203=='Y' and $0204=='N'", 'indentation': 0, 'questionType': 'Q'}]}], 'dependence': 'hasVentilation', 'id': '01', 'title': 'Ventilator & Sedation Weaning'}, {'emrInfoId': 'linesFood', 'sections': [{'id': '$0300', 'title': 'Vascular access:', 'dependence': 'true', 'questions': [{'text': 'Can any central venous or arterial lines be removed?', 'id': '$0301', 'dependence': 'true', 'indentation': 0, 'questionType': 'A'}]}, {'id': '$0400', 'title': 'Urinary catheters:', 'dependence': 'true', 'questions': [{'text': 'Can the urinary catheter be removed today?', 'id': '$0401', 'dependence': 'true', 'indentation': 0, 'questionType': 'A'}, {'text': 'Is this catheter a nurse managed protocol?', 'id': '$0402', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}, {'text': ' (NO means MD managed protocol)', 'id': '$0403', 'dependence': 'true', 'indentation': 3, 'questionType': 'T'}]}, {'id': '$0500', 'title': 'Nutrition:', 'dependence': 'true', 'questions': [{'text': 'Is it appropriate to increase nutrition today?', 'id': '$0501', 'dependence': 'true', 'indentation': 0, 'questionType': 'A'}]}], 'dependence': 'true', 'id': '03', 'title': 'Vascular Access, Urinary Catheter & Nutrition'}, {'emrInfoId': 'antibiotics', 'sections': [{'id': '$0600', 'title': '', 'dependence': 'true', 'questions': [{'text': 'Can antibiotic coverage be stopped or narrowed today?', 'id': '$0601', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}]}], 'dependence': 'hasAntibiotics', 'id': '06', 'title': 'Antibiotics'}, {'emrInfoId': 'dvt', 'sections': [{'id': '$0700', 'title': '', 'dependence': 'true', 'questions': [{'text': 'Is the patient on appropriate DVT chemoprophylaxis?', 'id': '$0701', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}, {'text': 'Is it contraindicated?', 'id': '$0702', 'dependence': "$0701=='N'", 'indentation': 0, 'questionType': 'Q'}, {'text': "Can the patient's mobility be increased today?", 'id': '$0703', 'dependence': 'true', 'indentation': 0, 'questionType': 'A'}]}], 'dependence': 'true', 'id': '07', 'title': 'DVT'}, {'emrInfoId': 'pressureUlcer', 'sections': [{'id': '$0800', 'title': '', 'dependence': 'true', 'questions': [{'text': 'Has the patient been reviewed for pressure ulcers today?', 'id': '$0801', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}]}], 'dependence': 'true', 'id': '08', 'title': 'Pressure Ulcers'}, {'emrInfoId': 'NO', 'sections': [{'id': '$1000', 'title': '', 'dependence': 'true', 'questions': [{'text': 'APACHE form is not complete. Please fill out the APACHE form.', 'id': '$1001', 'dependence': 'true', 'indentation': 0, 'questionType': 'T'}]}], 'dependence': '!apacheIsCompleted', 'id': '10', 'title': 'Apache'}] <class 'list'> 6

description Initial checklist with tracheostomy question <class 'str'> 44

In [96]:
for a in unit3_1['groups']:
    print(a['id'], a['emrInfoId'], '\n')

01 ventilatorWeaning

03 linesFood

06 antibiotics

07 dvt

08 pressureUlcer

10 NO

In [97]:
for b in unit3_2['groups']:
    print(b['id'], b['emrInfoId'], '\n')

01 ventilatorWeaning

03 linesFood

06 antibiotics

07 dvt

08 pressureUlcer

10 NO